
.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 20px;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapContainer {
  position: absolute;
  top: 30px;
  right: 20px;
  left: 20px;
  bottom: 0;
}
